.admin-sidebar {
    &_header {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-family: $font-satisfy;
        height: 80px;
        box-sizing: border-box;
        line-height: 5rem;
        @media #{$info-tablet-vertical} {
            line-height: 7rem;
        }
        font-size: 2rem;
        text-align: center;
        color: $color-default;
        background: linear-gradient(45deg, $orange, $milk_orange);
        cursor: pointer;
    }

    &_button {
        margin-top: 1.5rem;
        align-self: flex-start;  
        justify-self: flex-end;
        color: #B2BAC2;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-left: 15px;

        &:hover {
            color: $milk_orange;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        padding: 1rem 1.2rem;
        cursor: pointer;
        color: #B2BAC2;
        text-decoration: none;

        &:hover {
            color: $milk_orange;
            background-color: #244f7d1c;
            transition:  0.3s ease-in-out;
        }

        .link_open {
            padding-left: 16px;
            visibility: visible;
            display: block;
        }

        .link_closed {
            padding-left: 16px;
            visibility: hidden;
            display: none;
        }
    }
}

.sidebar_open {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: $white-text;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sidebar_closed {
    position: fixed;
    width: 60px;
    height: 100vh;
    background-color: $white-text;
    transition:  0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}